@import '../../assets/css/colors.scss';

.pagination {
  display: flex;
  align-items: center;

  p {
    margin-right: 1rem;
  }

  button {
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    width: 130px;
    height: 40px;
    background-color: white;

    &:disabled {
      cursor: default;
    }
  }

}


@media (max-width: 576px) {
  .pagination {
    margin-top: 1rem;
  }
}
