/*--------- Movies ---------*/

.movies-container {
  @include flexCenter(column, center, center, center);
  width: 100%;
  & > ul {
    @include flexCenter(column, center, normal, center);
    border: 1px solid $secondary-white;
    margin: 2rem 0;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    width: 100vw;
    min-height: 65vh;
  }
}

/*--------- Movie --------*/
.movie-card {
  @include flexCenter(column);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2);
  border: 1px solid $secondary-white;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.movie-image {
  @include flexCenter(column, flex-start, center, center);
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-top: 3.5rem;

  .movie-overlay {
    top: -5rem;
    position: absolute;
    @include flexCenter(row, space-between);
    width: 100%;
    height: 100%;
    padding: 5% 10%;
    transition: visibility 0.3s, opacity 0.3s linear;
  }

  .movie-cover {
    width: calc(15rem + 15vw);
    height: calc(20rem + 20vw);
    border: 1px solid rgba(0, 0, 0, 0.15);
    /* object-fit: contain; */
  }
}

.movie-text {
  @include flexCenter(column);
  min-height: 10rem;
}
.movie-category {
  & > * {
    margin-right: 1rem;
  }
}

.movie-ratings {
  @include flexCenter(row, space-between);
  width: 65%;
}

.dispatch-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.pressed {
  transform: scale(1.2);
}

.icon-text {
  margin-left: 0.75rem;
}
/*------------ Reponsive -----------*/
@include respond-to("medium") {
  .movies-container ul {
    flex-direction: row;
    align-content: center;
  }

  .movie-image {
    .movie-overlay {
      visibility: hidden;
      opacity: 0;
      top: unset;
    }

    &:hover {
      .movie-overlay {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .icon-container {
    &:first-child {
      padding: 0.6rem;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 30%;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: $secondary-red;
      }
    }

    color: #fff;

    &:last-child :not(small) {
      color: $primary-yellow;
    }
  }

  .icon-text {
    text-shadow: 1rem;
  }
}
@include respond-to("large") {
}
