h1{
    font-family: var(--font-family);
    font-size : 3vh;
}

h2{
    font-family: var(--font-family);
    font-size : 2.5vh;
}

h3{
    font-family: var(--font-family);
    font-size : 2vh;
}

h4{
    font-family: var(--font-family);
    font-size : 1.5vh;
}

h5{
    font-family: var(--font-family);
    font-size : 1vh;
}

p{
    font-family: var(--font-family);
    font-size : 0.5vh;
}

input{
    font-size: 1.5vh;
}

h6{
    font-family: 'Satisfy', cursive;
    font-size:3vw;
    margin : 0px;
}

.DivGrandTitre{
    margin-top: 6vh;
    text-align: center;
}

.GrandTitre{
    color: #fff;
}