.gauge {
    display: flex;
    max-width: 100px;
    padding-bottom: 20px;
    align-content: center;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-bottom: 10px;
}
.line {
    position: relative;
    display: flex;
}
.icons img {
    max-width: 20px;
}
.like {
    border-bottom: 1px solid black;
}
.dislike {
    border-bottom: 1px solid gray;
}
.down {
    transform: rotate(180deg);
}
.like p , .dislike p {
    font-size: 0.8rem;
    margin-block-start: 0;
    margin-block-end: 0;
    position:absolute;
}
.like p {
    left: 0;

}
.dislike p {
    right: 0;
}

.like-button {
    margin-left: 10px;
    background-color: #1A2859;
    border-radius: 13px;
    color: white;
    font-weight: bold;
    width: 50px;
    text-align: center;
    border-style: none;
}