@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.list {
    display: flex;
    flex-wrap: wrap;
    max-width:100%;
}
.card {
    max-width: 300px;
    height: 580px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 30px;
    text-align: center;
}
.card p {
  margin-bottom: 20px;  
}
h1 {
    font-family: 'Bebas Neue', cursive;
    color:rgb(73, 72, 72);
}
img {
    max-width: 90%;
    width:90%;
    border-radius: 16px;
    display: block;
    margin: 0 auto;
}
.poster {
    height:400px;
}
.delete-button {
    margin-right: 10px;
    background-color: #9D2020;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 60px;
    height: 28px;
    text-align: center;
    border-style: none;
}
.bottom {
    display: flex;
    justify-content: space-between;
}