.films {
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  height: calc((100vh) - 137.5px);
  overflow: hidden;
  overflow-y: scroll;

  .film {
    width: 100%;
    height: 120px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    position: relative;

    .heading {
      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      width: 60%;
      margin: 10px 0;

      h2 {
        margin: 5px;
        font-size: 20px;
        font-weight: bold;
      }
      p {
        margin-bottom: 5px;
      }
    }

    .ranking {
      width: 100%;
      display: flex;
      height: 100%;
      position: absolute;
      z-index: -1;

      div {
        transition-duration: 1s;
        &:first-child {
          border-radius: 8px 0 0 8px;
          background-color: #46cb18;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
          background-color: #e03c31;
        }
      }
    }

    .trash {
      position: absolute;
      right: 12px;
      top: 12px;
      padding: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      color: black;
      border-radius: 50%;
    }
  }
}

@media (min-width: 650px) {
  .films {
    display: flex;
    flex-wrap: wrap;
    .film {
      width: calc((100% - 30px) / 2);
      margin-right: 10px;
      &:nth-child(2n + 1) {
        margin-left: 10px;
      }
    }
  }
}

@media (min-width: 1230px) {
  .films {
    max-width: 1230px;
    margin: auto;
    .film {
      width: calc((100% - 50px) / 4);
      &:nth-child(2n + 1) {
        margin-left: 0;
      }
      &:nth-child(4n + 1) {
        margin-left: 10px;
      }
    }
  }
}
