// Colors

$primary-white: #fff;
$secondary-white: #f0f0f0;

$primary-green: #619b8a;
$secondary-green: #a1c181;

$primary-black: #1a1423;
$secondary-black: #1b1a1a;

$primary-gray: #f2f2f5;
$secondary-gray: #adadad;

$primary-blue: #00008c;
$secondary-blue: #0083ce;

$primary-yellow: #ffea00;

$primary-red: #ed4337;
$secondary-red: #cb1b16;

$background-black: #000814;

// Gradients

$black-linear-gradient: linear-gradient(315deg, #000000 0%, #414141 74%);

// Text

// Buttons
