// To conceal overflowing elements and add "..." at the end
.truncated {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// For long words, making them complete on the next line
.ow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.hidden {
  visibility: hidden;
}
