.rating {
  display: flex;
  width: 80px;
  box-sizing: border-box;
  border: 0.5px solid black;
  border-radius: 5px;

  button {
    width: 30px;
    height: 20px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.like {
      border-right: none;
      border-radius: 5px 0 0 5px;
      width: 50px;

      &.toggleTrue {
        background-color: rgb(205, 204, 204);
        color: #46cb18;

        span {
          color: black;
        }
      }
    }

    &.dislike {
      // color: red;
      border-left: solid 0.1px lightgrey;
      border-radius: 0 5px 5px 0;
      justify-content: center;

      &.toggleFalse {
        background-color: rgb(205, 204, 204);
        color: rgb(254, 105, 105);
      }
    }
  }
}
