.movie-layout{
    text-align: center;
    background-color: azure;
    margin:50px;
}
.filter{
    text-align: center;
    position: relative;
    background-color: #b58927;
}
.filter .filter-item{
    display: inline-block;
    padding: 20px;
    float: left;
}
.filter .filter-item label{
    
    cursor: pointer;
}
.filter .drop-down-holder{
    display: inline-block;
    float: right;
    padding: 20px;
}
.filter .drop-down-holder select{
    width:100px;
    border: none;
    outline: none;
    padding: 5px;
}
.filter .fa{
    font-size:36px;
    float:right;
    padding: 20px;
    cursor: pointer;
}
.filter::after{
    clear: both;
    content: "";
    display: block;
}
.filter .filter-options{
  position: absolute;
  top :0;
  right:0;
  background-color: black;
  color:#fff;
  height: 100px;
  width: 200px;
}