span {
  margin: 10px;
}
.App h1 {
  text-align: center;
}
.page-number {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 90%;
}
.page {
  display: flex;
}
.page p {
  margin: 10px;
}
.page .text {
  font-weight: 900;
}
.number {
  text-align: right;
}
span:hover {
  font-weight: 900;
}
.clear-filter {
  background-color: gray;
  border-style: none;
  padding: 6px;
  text-align: center;
  color:white;
  height: 30px;
}
.category-list {
  display: flex;
}
.category-list select {
  width: 100px;
}
.category-list form {
  display: flex;
  align-content: flex-start;

}