span {
  margin: 10px;
}
.App h1 {
  text-align: center;
}
.page-number {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 90%;
}
.page {
  display: flex;
}
.page p {
  margin: 10px;
}
.page .text {
  font-weight: 900;
}
.number {
  text-align: right;
}