.container {
  width: 500px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .nbMovies {
    label {
      display: block;
      color: white;
      margin-bottom: 0.4rem;
    }

    input {
      width: 3rem;
      border-radius: 2px;
      outline: none;
      border: none;
      padding: 0.4rem 0 0.4rem 0.4rem;
      font-weight: bold;
      color: rgb(33, 166, 0);
      font-size: 1rem;
    }
  }

  .button {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid rgb(33, 166, 0);
    padding: 0.4rem 0;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: #333;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: rgb(33, 166, 0);
      color: #333;
      border: none;
    }

    &:first-child {
      border-radius: 4px
    }

    &:last-child {
      border-radius: 4px
    }

    .iconLeft {
      margin-right: 0.3rem;
      font-size: 1.2rem;
    }
    .iconRight {
      margin-left: 0.3rem;
      font-size: 1.2rem;
    }

    &.stop {
      color: rgb(87, 87, 87);
      background-color: rgb(47, 47, 47);
      border: 1px solid rgb(87, 87, 87);
    }
  }
}