footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 67.5px;
  border-top: 0.5px solid lightgray;

  label {
    font-size: 12px;
  }
  select {
    justify-self: flex-end;
    font-size: 12px;
    border-radius: 5px;
    margin: 4px;
  }
}
