@import '../../assets/css/colors.scss';

.footer {
  background: $secondary;
  padding: 2rem;
  display: flex;
  justify-content: space-between;

  .select {
    width: 4rem;
    padding: .4rem;
  }
}


@media  (max-width: 576px) {
  .footer {
    flex-direction: column;
  }
}
