@import '~compass-mixins/lib/compass'

@include global-reset

$orange: #CE896E
$orange-2: #D65F30

body
  background: $orange
  color: #fff
  user-select: none

.movie-filters
  display: flex
  flex-direction: row
  margin: 20px auto 0 auto
  max-width: 770px

  .filter
    &:first-child
      margin-left: 0
    margin-left: 20px

    select
      margin-left: 4px
      background: $orange-2
      color: #fff
      height: 25px
      line-height: 25px
      border: 1px solid #fff
      outline: none

.movie-list
  margin: 20px auto 0 auto
  display: flex
  flex-direction: row
  flex-wrap: wrap
  max-width: 770px

.movie-card
  background: $orange-2
  width: 180px
  height: 110px
  border: 1px solid #fff
  margin-right: 10px
  margin-top: 10px
  border-radius: 5px
  position: relative

  .movie-title
    user-select: all
    font-weight: 700
    text-align: center
    padding: 10px 0

  .movie-category
    text-align: center
    margin-bottom: 10px

  .like-bar
    display: flex
    flex-direction: row
    height: 48px
    line-height: 48px

    .like-button, .dislike-button
      flex: 50%
      text-align: center
      cursor: pointer
      &:hover
        background: lighten($orange-2, 7%)

    .like-button
      border-radius: 0 0 0 5px

    .dislike-button
      border-radius: 0 0 5px 0

  .delete-movie
    cursor: pointer
    display: inline-block
    position: absolute
    top: -7px
    right: -5px
    background: $orange-2
    &:hover
      background: lighten($orange-2, 20%)

.pagination
  max-width: 770px
  margin: 20px auto 0 auto

  ul
    li
      display: inline-block
      &:first-child
        margin-left: 0
      margin-left: 10px
      border: 1px solid $orange-2
      border-radius: 10px
      padding: 10px
      background: lighten($orange-2, 10%)
      &:hover
        background: lighten($orange-2, 15%)
      &.current
        background: lighten($orange-2, 15%)
      cursor: pointer
