.bloc-1
{
    display: inline-block;

}

.afficher
{
    margin-left: 13%;
}

.pagination
{
    position: relative;
    margin-left: 45%;
    margin-top: 15px;
}

button
{
    margin-right: 15px;
    font-size: 20px;
    box-shadow: 2px 2px 2px black;
}

label
{
    font-size: 25px;
    color:green;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;


}


