body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background: repeat url("../images/wall.jpg");
  font-family: 'Montserrat', sans-serif;
  color: #444
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Stars";
  src: local("Stars"), 
  url(../fonts/neon.ttf) format("truetype");
}